@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
  --font-15px: 0.9375rem; 
  --font-16px: 1rem;
  --font-18px: 1.125rem;
  --font-40px: 2.5rem;
  --font-55px: 3.45rem;
  --txt-white: #ffffff;
  --txt-grey: #8a8a8a;
  --txt-lightgrey: #cccccc;
  --primary: #1487fd;
  --secondary: #ffbb00;
  --bg-primary: #ffffff;
  --bg-form: #fbfbfb;
  --btn-blue: #3096FE;
}
/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head, body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-primary);
  

}
body{
  background-image: url('../assets/img/header-showcase-bg.svg');
  background-repeat: no-repeat;
  background-position: 50% -500%;
}

a {
  text-decoration: none;
  color: var(--txt-white);
  font-size: var(--font-18px);
  
}
a:hover {
  color: var(--secondary);
}
a:hover > .underline {
  border-bottom: 3px solid var(--secondary);
  padding-bottom: 4px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-55px);
  color: var(--txt-white);
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  font-size: var(--font-40px);
  font-weight: bold;
}
/* Defaults End */

/* Help Classes Start*/
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  outline: none !important;
}

.button-blue-white {
  background-color: var(--btn-blue);
  color: var(--txt-white);
} 
.button-yellow-white {
  background-color: var(--secondary);
  color: var(--txt-white);
}
.img-collapse {
  display: none;
}

/* Help Classes End */

/* Header/nav Start */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.5rem;
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .main-nav .menu a {
  margin: 0 1rem;
}
header .main-nav .menu-collapse {
  display: none;

}
header .main-nav .button-collapse {
  display: none;
}
header #get-app-button {
  height: 3.125rem;
  width: 10rem;
  margin: 0 1rem;
}
header #get-app-button:hover {
  border: 2px solid var(--primary);
  background-color: var(--bg-primary);
  color: black;
}
header .menu-toggler {
  font-size: 2.5rem;
  margin: 0 1.5rem;
  color: var(--txt-white);
  background-color: transparent;
  border: 1px solid transparent;
}
@media(min-width: 768px){
  header .main-nav .menu-toggler {
    display: none;
  }
  header .main-nav .menu-collapse{
    display: flex;
  }
}
@media(min-width: 992px){
  header .main-nav .button-collapse {
    display: flex;
  }
  
}
@media(min-width: 1200) {
  header .main-nav .menu a {
    margin: 0 1.5rem;
  }
  header #get-app-button {
    margin: 0 1.5rem;
  }
}

/* Header/nav End */

/* Showcase Start */

#showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#showcase .container .showcase-text p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-15px);
  color: var(--txt-white);
  font-weight: 400;
  margin-top: 3.4375rem;
  margin-bottom: 2.625rem;
}
#showcase .showcase-text .showcase-button {
  height: 3.125rem;
  width: 10rem;
  padding: 0.8rem 1.5rem;
  color: var(--txt-white);
  border: 2px solid var(--txt-white);
}

@media(min-width: 992px) {
  #showcase .container {
    text-align: left;
  }
  #showcase .container .img-collapse {
    display: flex;
  }
}

/* Showcase End */

/* Contact Us Start */


#contact-us .container {
  margin-bottom: 7.5rem;
}
#contact-us .contact-us-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    
}
#contact-us .contact-us-container h3 {
  margin-bottom: 2rem;
}
#contact-us .contact-us-container p {
  color: var(--txt-grey);
}

::placeholder {
  color: var(--txt-lightgrey) !important;
  text-align: center;
}

#contact-us .form-control {
  background-color: var(--bg-form);
  border: none;
}
#contact-us #form-message {
  resize: none;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}
#contact-us #form-name {
  margin-right: 2rem;
}
#contact-us .form-btn {
  display: flex;
  justify-content: center;
}
#contact-us #form-button {
  height: 3,75rem;
  width: 13.75rem;
  
}
#contact-us #form-button:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: var(--bg-primary);
}
@media(min-width: 768px){
  #contact-us .contact-us-container {
    padding: 7.5rem 7.5rem 3rem 7.5rem;
  }
  #contact-us .row {
    padding: 0 7.5rem;
    margin: 0 auto;
  }
  ::placeholder {
    text-align: left;
  }
}

/* Contact Us End */

/* Footer Start */

footer {
  height: 18.75rem;
  background-image: url('../assets/img/footer-bg-overlay.svg'), url('../assets/img/footer-bg.svg');
  background-position: center;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

footer .footer-logo img {
  margin-top: 3.6875rem;
}
footer .footer-menu {

  height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}
footer .footer-menu a {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
footer .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-social a{
  color: var(--txt-white);
  margin: 0 0.5rem 3.625rem 0.5rem;
}
footer .footer-social i {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #ffffff26;
 
}
footer .footer-social i:hover {
  color: var(--primary);
  background-color: var(--bg-primary);
}


/* General Mediaqueries */
@media(min-width: 768px){
  .container {
    max-width: 720px;
  }
}
@media(min-width: 992px){
  .container {
    max-width: 960px;
  }
}
@media(min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
