@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@font-face {
  font-family: URW DIN Arabic Bold;
  src: url('../assets/fonts/FontsFree-Net-URW-DIN-Arabic-Bold-1.ttf');
}
:root {
  --font-14px: 0.875rem;
  --font-15px: 0.9375rem; 
  --font-16px: 1rem;
  --font-18px: 1.125rem;
  --font-20px: 1.25rem;
  --font-25px: 1.5625rem;
  --font-40px: 2.5rem;
  --font-50px: 3.125rem;
  --font-55px: 3.45rem;
  --txt-white: #ffffff;
  --txt-grey: #8a8a8a;
  --txt-lightgrey: #cccccc;
  --txt-darkgrey: #333333;
  --primary: #1487fd;
  --secondary: #ffbb00;
  --bg-primary: #ffffff;
  --bg-form: #fbfbfb;
  --btn-blue: #3096FE;
  --txt-statistics: #3096FE;
}

/* Default Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
head, body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-primary);
}
body{
  background-image: url('../assets/img/header-showcase-bg.svg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center -700px;
  width: 100%;
  height: 100%;
}
@media(min-width: 768px) {
  body{
    background-position: center -800px;
  }
}
@media(min-width: 992px) {
  body {
    background-position: center -743px;
  }
}
a {
  text-decoration: none;
  color: var(--txt-white);
  font-size: var(--font-18px);
}
a:hover {
  color: var(--secondary);
}
a:hover > .underline {
  border-bottom: 3px solid var(--secondary);
  padding-bottom: 4px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-55px);
  color: var(--txt-white);
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  font-size: var(--font-50px);
  color: var(--txt-white);
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  font-size: var(--font-40px);
  font-weight: bold;
  color: var(--txt-darkgrey);
  line-height: 1.4;
}
h4 {
  font-size: var(--font-20px);
  font-weight: bold;
  color: var(--txt-darkgrey);
}
p {
  color: var(--txt-grey);
  line-height: 2;
}

/* Defaults End */

/* Help Classes Start*/

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  outline: none !important;
}

.button-blue-white {
  background-color: var(--btn-blue);
  color: var(--txt-white);
} 
.button-yellow-white {
  background-color: var(--secondary);
  color: var(--txt-white);
}
.button-small-yellow {
  width: 5.4375rem;
  height: 1.875rem;
  font-size: var(--font-14px);
  color: var(--secondary) ;
  background-color: #ffbb0026;
  padding: 0;
}
.button-small-yellow:hover {
  background-color: var(--secondary);
  color: var(--txt-darkgrey);
}
.store-button {
  padding: 0 0.625rem 0 0;
  margin-right: 0.625rem;
}
.img-collapse {
  display: none;
}

/* Help Classes End */

/* Header/nav Start */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.5rem;
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-nav .menu a {
  margin: 0 1rem;
}
header .main-nav .menu-collapse {
  display: none;
}
header .main-nav .button-collapse {
  display: none;
}
header #get-app-button {
  height: 3.125rem;
  width: 10rem;
  margin: 0 1rem;
}
header #get-app-button:hover {
  border: 2px solid var(--txt-white);
  background-color: transparent;
}
header .menu-toggler {
  font-size: 2.5rem;
  margin: 0 1.5rem;
  color: var(--txt-white);
  background-color: transparent;
  border: 1px solid transparent;
}
@media(min-width: 768px){
  header .main-nav .menu-toggler {
    display: none;
  }
  header .main-nav .menu-collapse{
    display: flex;
  }
}
@media(min-width: 992px){
  header .main-nav .button-collapse {
    display: flex;
  }
}
@media(min-width: 1200) {
  header .main-nav .menu a {
    margin: 0 1.5rem;
  }
  header #get-app-button {
    margin: 0 1.5rem;
  }
}

/* Header/nav End */

/* Showcase Start */

#showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 13.75rem;
}
#showcase .container .showcase-content p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-15px);
  color: var(--txt-white);
  font-weight: 400;
  margin-top: 3.4375rem;
  margin-bottom: 2.625rem;
}
#showcase .showcase-content .showcase-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#showcase .showcase-content .download-button {
  height: 3.125rem;
  width: 10rem;
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
  color: var(--txt-white);
  border: 2px solid var(--txt-white);
}
#showcase .showcase-content .download-button:hover {
  background-color: var(--txt-white);
  color: var(--primary);
}
#showcase .showcase-content .watch-video-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 3.125rem;
  width: 10rem;
}
#showcase .showcase-content .watch-video-button:hover {
  border: 2px solid var(--txt-white);
}
@media(min-width: 992px) {
  #showcase .container {
    text-align: left;
  }
  #showcase .container .img-collapse {
    display: flex;
    margin-right: -2.2rem;
  }
  #showcase .showcase-content .showcase-buttons {
    justify-content: left;
  }
}

/* Showcase End */

/* EC Utbildning Start*/

#ecutbildning .container {
  margin-bottom: 8rem;
}
#ecutbildning .ecutbildning-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 2.25rem;
}
@media(min-width: 992px) {
  #ecutbildning .container .ecutbildning-content .img-collapse {
    display: flex;
  }
  #ecutbildning .ecutbildning-content {
    justify-content: space-between;
    align-items: center;
  }
}

/* EC Utbildning End */

/* About Us Start */

#about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

#about-us .container .phone-with-background {
  margin-left: -8.8768rem;
}
#about-us .container .about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#about-us .container .about-us-buttons {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
@media(min-width: 992px) {
  #about-us .container .about-us-content .about-us-buttons {
    flex-direction: row;
  }
}
@media(min-width: 1200px) {
  #about-us .container {
    margin-bottom: 14.5rem;
  }
  #about-us .container .mobile-with-bg .img-collapse {
    display: flex;
  }
  #about-us .container .img-collapse {
    display: flex;
  }
  #about-us .container .about-us-content {
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10.75rem;
    text-align: left;
  }
}

/* About Us End */

/* Features Start */

#features {
  background-image: url('../assets/img/bg-grid.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #f5f5f5;
}
#features .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.625rem;
  margin-bottom: 8.125rem;
}
#features .container .features-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#features .container .mobile-features-img {
  margin-right: -6.4375rem;
}
#features .container .features-content .features-content-text {
  margin-bottom: 2.5rem;
}
#features .container .features-content .features-content-cards p {
  font-size: var(--font-14px);
  line-height: 1.5;
}
#features .container .features-content .features-content-cards {
  display: grid;
}
#card-1, #card-2, #card-3, #card-4 {
  height: 5.5rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#card-1 img, #card-2 img, #card-3 img, #card-4 img {
  margin-right: 1.25rem;
}
 #features .container .features-content .features-content-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
@media(min-width: 1200px) {
 
  #features .container .features-content {
    align-items: flex-start;
  }
  #features .container .features-content h3 {
    padding-right: 8rem;
    text-align: left;
  }
  #features .container .features-content .features-content-text {
    padding-right: 4rem;
    text-align: left;
  }
  #features .container .features-content .features-content-cards {
    grid-template-columns: 1fr 1fr;
    gap: 30px 70px;
  }
}

/* Features End */

/* Application Screens Start */

#application-screens .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5.4375rem;
  overflow: hidden;
}
#application-screens .container #application-screens-img {
  width: 87.011rem;
  margin: 0 -6.94rem;
}
#application-screens .container .application-screens-header {
  text-align: center;
  margin-bottom: 2.125rem;
}
@media(min-width: 1200px) {
  #application-screens .container .application-screens-header {
    width: 33.526rem;
  }
}

/* Application Screens End */

/* Application Statistics Start */

#application-statistics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/world-map.svg');
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 3.75rem;
  margin-bottom: 3.75rem;
}
#application-statistics .container .application-statistics-header {
 
  text-align: center;
}
#application-statistics .container .info-cards h3 {
  font-family: 'URW DIN Arabic Bold';
  color: var(--txt-statistics);
 }
#application-statistics .container .info-cards p {
  font-size: var(--font-25px);
  color: var(--txt-darkgrey);
  
}
@media(min-width: 1200px) {
  #application-statistics .container .application-statistics-header p {
    width: 33.526rem;
    margin-bottom: 2.1875rem;
  }
  #application-statistics .container .info-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 3.8125rem;
  }
  #application-statistics .container .info-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
  }
}
/* Application Statistics End */

/* Download Start */

#download {
  height: 40.375rem;
  background-image: url('../assets/img/download-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  margin-bottom: 7.5rem;
}
#download .container {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}
#download .container .download-content p {
  color: var(--txt-white);
  margin-top: 2rem;
 
}
#download #download-mobiles {
  padding-top: 4.8125rem;
  margin-right: -8.0625rem;
}

#download .container .download-content .download-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6.6875rem;
}
@media(min-width: 768px) {
  #download {
    height: 34.375rem;
  }
  #download .container .download-content .download-buttons {
    flex-direction: row;
  }
  #download .container .download-content p { 
    margin-bottom: 3rem;
  }
}
@media(min-width: 1200px) {
  #download .container {
    justify-content: space-between;
    text-align: left;
  }
  #download .container .download-content {
    margin-right: 4rem;
  }
  #download .container .download-content .download-buttons {
    justify-content: flex-start;
    }
}

/* Download End */

/* Contact Us Start */

#contact-us .container {
  margin-bottom: 7.5rem;
}
#contact-us .contact-us-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact-us .contact-us-container h3 {
  margin-bottom: 2rem;
}
#contact-us .contact-us-container p {
  color: var(--txt-grey);
}
::placeholder {
  color: var(--txt-lightgrey) !important;
  text-align: center;
}
#contact-us .form-control {
  background-color: var(--bg-form);
  border: none;
  line-height: 4.375rem !important;
}
#contact-us #form-message {
  resize: none;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}
#contact-us #form-name {
  margin-right: 2rem;
}
#contact-us .form-btn {
  display: flex;
  justify-content: center;
}
#contact-us #form-button {
  height: 3,75rem;
  width: 13.75rem;
}
#contact-us #form-button:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: var(--bg-primary);
}
@media(min-width: 768px){
  #contact-us .contact-us-container {
    padding: 0 7.5rem 3rem 7.5rem;
  }
  #contact-us .row {
    padding: 0 7.5rem;
    margin: 0 auto;
  }
  ::placeholder {
    text-align: left;
  }
}

/* Contact Us End */

/* Footer Start */

footer {
  height: 18.75rem;
  background-image: url('../assets/img/footer-bg-overlay.svg'), url('../assets/img/footer-bg.svg');
  background-position: center;
  width: 100%;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
footer .footer-logo img {
  margin-top: 3.6875rem;
}
footer .footer-menu {
  height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}
footer .footer-menu a {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
footer .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-social a{
  color: var(--txt-white);
  margin: 0 0.5rem 3.625rem 0.5rem;
}
footer .footer-social i {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #ffffff26;
}
footer .footer-social i:hover {
  color: var(--primary);
  background-color: var(--bg-primary);
}

/* General Mediaqueries Start*/

@media(min-width: 768px){
  .container {
    max-width: 720px;
  }
}
@media(min-width: 992px){
  .container {
    max-width: 960px;
  }
}
@media(min-width: 1200px){
  .container {
    max-width: 1170px;
  }
  .img-collapse {
    display: flex;
  }
}

/* General Mediaqueries End */